# Build outputs
bin/
bin-int/

# Generated project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Makefile
*.make
*.log
logs/
# IDE files
.vs/
.vscode/
.claude/
*.suo
*.user


# Claude files
CLAUDE.md

# OS files
.DS_Store
Thumbs.db

# Imgui Content:
imgui.ini
*.log



*.exe
*.dll
